---
import "../styles/global.css";

import Career from "../components/section/Career.astro";
import Technologies from "../components/section/Technologies.astro";
import Header from "../components/Header.astro";
import Projects from "../components/section/Projects.astro";
import AboutMe from "../components/section/AboutMe.astro";
import Hero from "../components/section/Hero.astro";
import Footer from "../components/Footer.astro";
import SectionContainer from "../components/common/SectionContainer.astro";
import SectionWrapper from "../components/common/SectionWrapper.astro";
---
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/icons/favicon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/icons/favicon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icons/favicon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/favicon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/favicon-180x180.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/icons/favicon-192x192.png">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/icons/favicon-144x144.png">
    <meta name="msapplication-config" content="/icons/browserconfig.xml">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=space-grotesk:400,700|space-mono:400,700" rel="stylesheet" />
  </head>
  <body>
    <div class="above-the-fold">
      <Header />

      <section id="hero">
        <SectionWrapper>
          <Hero />
        </SectionWrapper>
      </section>
    </div>

    <section id="about">
      <SectionWrapper>
        <SectionContainer>
          <AboutMe />
        </SectionContainer>
      </SectionWrapper>
    </section>

    <section id="technologies">
      <SectionWrapper>
        <SectionContainer>
          <div class="m-0 sm:my-6">
            <h2 class="text-3xl font-bold mb-3">./Technologies</h2>
            <Technologies />
          </div>
        </SectionContainer>
      </SectionWrapper>
    </section>

    <section id="career">
      <SectionWrapper>
        <SectionContainer>
          <h2 class="text-3xl font-bold mb-3">./Career</h2>
          <Career />
        </SectionContainer>
      </SectionWrapper>
    </section>

    <section id="projects">
      <SectionWrapper>
        <SectionContainer>
          <div class="m-0 sm:my-6">
            <h2 class="text-3xl font-bold mb-3 sm:mt-6">./Projects</h2>
            <Projects />
          </div>
        </SectionContainer>
      </SectionWrapper>
    </section>

    <div class="footer-section">
      <SectionWrapper>
        <SectionContainer>
          <Footer />
        </SectionContainer>
      </SectionWrapper>
    </div>
  </body>
</html>
<style>
  @reference "tailwindcss";

  section, .footer-section {
    @apply px-3 sm:px-6 py-6;
  }

  .footer-section {
    @apply pb-0;
  }

  section#hero {
    @apply pt-0;
  }
</style>