---

---
<footer>
  <p>&copy; 2026 Emily Hernandez. Built with <a href="https://astro.build" target="_blank">Astro</a> & <a href="https://tailwindcss.com/" target="_blank">Tailwind CSS</a>. Hosted by me!</p>
</footer>