---
import LinkedInLogo from '../../public/linkedin.svg';

---
<header class="flex justify-between items-center px-6 py-3">
  <nav class="hidden sm:flex uppercase font-bold">
    <a href="#about">About me</a></li>
    <a href="#technologies">Technologies</a></li>
    <a href="#career">Career</a></li>
    <a href="#projects">Projects</a></li>
  </nav>
  <div class="flex sm:hidden"/>
  <ul class="flex gap-4" id="contact">
    <li><a href="https://www.linkedin.com/in/emily-hernandez/" class="py-4"><LinkedInLogo width={28} height={28} /></a></li>
  </ul>
</header>
<style>
  @reference "tailwindcss";

  nav a {
    @apply py-4 px-2;

    color: #353433;
    text-decoration: none;
  }
  nav a:hover {
    text-decoration: underline;
  }
</style>