---
import { getCollection } from 'astro:content';
import Project from "../Project.astro";

const projects = (await getCollection('projects')).toReversed();

---
<ul class="grid grid-cols-1 sm:grid-cols-2 gap-8 sm:gap-12">
  {projects.map((project) => (
    <li>
      <Project item={project} />
    </li>
  ))}
</ul>